<div class="mt-4">
    <h3>Khoa hoc cua toi</h3>
    <table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">VideoID</th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.videoID}}</td>
            <td><a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            <td><a href="" class="btn btn-link">Xóa</a>

</td>
        </tr>
        {{/each}}

    </tbody>
</table>
</div>